<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.werb.moretype">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>

        <activity android:name=".single.SingleRegisterActivity" />

        <activity android:name=".multi.MultiRegisterActivity"/>

        <activity android:name=".anim.AnimActivity"
            android:theme="@style/AnimTheme"/>

        <activity android:name=".click.ItemClickActivity" />

        <activity android:name=".complete.CompleteActivity" />

        <activity android:name=".me.AboutMeActivity"/>

        <activity android:name=".diff.DiffDataActivity"
            android:theme="@style/AnimTheme"/>

        <provider
            android:name="com.werb.pickphotoview.provider.PickProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/pick_file_paths" />
        </provider>
    </application>

</manifest>